/* Write your CSS here */
.nf-route-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
  background-size: cover;
  min-height: 100vh;
}

@media screen and (min-width: 768px) {
  .nf-route-cont {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  }
  .nf-head {
    font-size: 64px;
  }
}

.nf-head {
  font-size: 32px;
  font-family: 'Bree Serif';
  color: #ffffff;
}
